* {
    margin: 0;
    padding: 0;
}
.p1 {
    color: var(--i)
}
.p2 {
    color: --i;}
.p3 {
    color: var(--i)
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
.glowing {
    position: relative;
    width: 750px;
    height: 750px;
}
.glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
.glowing span:before {
    content:  '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(3n + 1):before {
    background: rgba(134,225,0,1);
    box-shadow: 0 0 20px rgba(134,225,0,1),
    0 0 40px rgba(134,225,0,1),
    0 0 60px rgba(134,225,0,1),
    0 0 80px rgba(134,225,0,1),
    0 0 0px rgba(134,225,0,.1);
}
.glowing span:nth-child(3n + 2):before {
    background: rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
    0 0 40px rgba(255,214,0,1),
    0 0 60px rgba(255,214,0,1),
    0 0 80px rgba(255,214,0,1),
    0 0 0px rgba(255,214,0,.1);
}
.glowing span:nth-child(3n + 3):before {
    background: rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
    0 0 40px rgba(0,226,255,1),
    0 0 60px rgba(0,226,255,1),
    0 0 80px rgba(0,226,255,1),
    0 0 0px rgba(0,226,255,.1);
}